/* reglas
selectores
declaraciones
propiedades
valores */

/* selector de etiqueta header - section - article - nav  */

/* header
{
  background: pink;
} */

/* selector descendente */
/* body header div nav ol li a  */

/* selector de clase . */
/* .link */

/* selector de id # */
/* #portafolio */


body
{
  font-family: 'Manjari', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: 'Sansita', sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}

h1
{
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: white;
  /* text-transform: none;
  text-decoration: dashed; */
}

h1 strong
{
  color: #026fff;
}

.hero
{
  height: 300px;
  background-image: url(../images/Laboratorio.jpg);
  background-color: #252850;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.proyect-details
{
  width: 500px;
}

.proyect-imageContainer
{
  width: 500px;
}

.header
{
  background-color: #252850;
  color: white;

}

.header a
{
  color: white;
  text-decoration: none;
}